@import "../../Components//globalVariables.scss";

.amazingFeatures{
  h1{
    @include breackpoint(lg){
      width: 500px;
    }
    @include breackpoint(sm){
      width: 300px;
      text-align: center;
    }

    display: block;
    width: 100%;
    max-width: 100%;
    margin: 60px 0;
    font-size: 40px;
    color: #334357;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
  }
}
