@media (max-width: 1200px){
    .container .icons img{
        margin-left: 30px;
    }
}
@media (max-width: 992px){
    .container .icons img{
        margin-left: 15px;
        width: 70px;
    }
    .container h2{
        font-size: 24px;
    }
}
@media (max-width: 768px){
    .container h2{
        font-size: 20px;
    }
}
.global{
    background-color: #f1f1f1;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icons{
    display: flex;
    justify-content: center;
}
.icons img{
    width: 90px;
    margin-left: 60px;
    text-align: center;
    margin-top: 35px;
}
h2{
    text-align: center;
    font-size: 25px;
}
