@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500&display=swap');
$baseFamily:Manrope,sans-serif;
$textColor : #334357;

@mixin baseText($weight){
  font: {
    family:$baseFamily;
    weight:$weight;
  }
  color:$textColor;
}

