@media (max-width: 768px) {
    .main {
        font-size: 14px;
        max-width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .main {
        font-size: 14px;
        max-width: 80%;
        margin: 0 auto;
    }

}
.global {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: #f1f2f5;
    box-sizing: border-box;
}
.easy_retro {
    width: 180px;
    height: 40px;
}
.main {
    width: 370px;
    background-color: white;
    height: fit-content;
    padding: 25px 25px;
    margin: 40px 0;
    border-radius: 2px;
    box-shadow: 0 2px 8px 0 rgb(62 62 82 / 10%);

    h5 {
        text-align: center;
        font-weight: bold;
    }

    input {
        width: 100%;
        padding: 9px 5px;
        border: 1px solid #f1f2f5;
        margin-bottom: 10px;
        outline: none;
        border-radius: 3px;
    }

    input:hover {
        border: 1px solid #8c8c9e;
    }

    label {
        color: #8c8c9e;
        margin: 3px 0 0 0;
        width: 100%;
        input{
            margin-top: 5px;
        }
    } 
    ::placeholder {
        padding-left: 6px;
        color: #8c8c9e;
    }
}

.reset_password_btn {
    width: 100%;
    background-color: #145cf2;
    color: white;
    border: none;
    padding: 7px 15px;
    margin-bottom: 5px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.reset_password_btn:hover {
    background-color: #00308f;
}

.back_to_login {
    color: #5e5e71;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
        margin-left: 5px;
    }
}



